body {
  background: brown;
}
.advantages__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages__item {
  min-height: 201px;
  position: relative;
  padding: 0 45px;
  padding-top: 95px;
  padding-bottom: 5px;
  color: #f7f4f1;
  text-align: center;
}
.advantages__item-title {
  margin-bottom: 15px;
}
.advantages__item h3 {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
.advantages__item p {
  margin-top: 15px;
}

.slider__toggles {
  text-align: center;
  line-height: 12px;
}
.slider__toggle {
  width: 2px;
  height: 2px;
  padding: 8px;
  position: relative;
  display: inline-block;
}
.slider__toggle::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border: 1px solid #fff;
  background: #242424;
  transform: rotate(45deg);
  top: 6px;
  left: 6px;
}
.slider__toggle:hover {
  cursor: pointer;
}
.slider__toggle--active::before {
  background: #fff;
}
.reviews .slider__toggle::before {
  border: 1px solid #353535;
  background-color: #f8f5f2;
}
.reviews .slider__toggle--active::before {
  background: #353535;
}
.prev,
.next {
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
