<footer class="page-footer page-footer--photo">
  <div class="page-footer__wrapper">
    <section class="page-footer__contacts">
      <h3>Барбершоп Бородинский</h3>
      <p>
        г. Санкт-Петербург, ул. Большая Конюшенная 19/8<br>
        <a href="tel:+74954954545" class="page-footer__phone"><span class="page-footer__contacts-hidden">Тел.: </span>+7 (495) 555-66-66</a>
      </p>
    </section>
    <section class="page-footer__social">
      <p>
        Давайте дружить!
      </p>
      <span class="social-links">
        <a href="#0" class="social-link social-link--vk">Мы ВКонтакт</a>
        <a href="#0" class="social-link social-link--fb">Мы на Facebook</a>
        <a href="#0" class="social-link social-link--inst">Мы в Инстаграмме</a>
      </span>
    </section>
    <section class="page-footer__copyright">
      <p>
        Разработано:
      </p>
      <a class="btn page-footer__copyright-link" href="#0">HTML Academy</a><br>
    </section>
  </div>
</footer>
