<div id="login-form" class="login-form login-form--closed login-form--nojs">
  <form action="#" method="post">
    <h2 class="login-form__title">ЛИЧНЫЙ КАБИНЕТ</h2>
    <p class="login-form__content">Введите свой логин и пароль, чтобы войти</p>
    <span class="input-login-icon"><input class="input-login" type="text" name="login" placeholder="Логин" required></span>
    <span class="password-login-icon"><input class="input-password" type="password" name="password" placeholder="Пароль" required></span>
    <input id="remember" type=checkbox name="remember">
    <label for="remember">Запомните меня</label>
    <a href="#0" class="forgot-password">Я забыл пароль!</a>
    <input class="btn btn--login-form" type="submit" name="submit" value="Войти">
    <button id="close-btn" class="btn close-btn">ЗАКРЫТЬ</button>
  </form>
</div>
