.advantages__wrapper {
  @include container-fluid;
  padding-top: 30px;
}
.advantages__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages__item {
  min-height: 201px;
  position: relative;
  padding: 0 45px;
  padding-top: 95px;
  padding-bottom: 5px;
  color: #f7f4f1;
  text-align: center;
}
.advantages__item-title {
  margin-bottom: 15px;
}
.advantages__item h3 {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
.advantages__item h3:before {
  content: '';
  position: absolute;
  top: -125px;
  margin: 0 auto;
}
.advantages__item--fast h3:before {
  @include sprite($advantage-1-illustration);
}
.advantages__item--cool h3:before {
  @include sprite($advantage-2-illustration);
}
.advantages__item--expensive h3:before {
  @include sprite($advantage-3-illustration);
}
.advantages__item:nth-child(n+2) {
  display: none;
}
.advantages__item p {
  margin-top: 15px;
}

@media ($tablet-width) {
  .advantages__wrapper {
    padding-top: 0px;
  }
  .advantages__items {
    padding-bottom: 4px;
  }
  .advantages__item {
    margin: 0 30px;
    padding: 0;
    padding-bottom: 18px;
    padding-left: 128px;
    text-align: left;
    border-bottom: 1px solid #4a4a4a;
  }
  .advantages__item:nth-child(n+2) {
    display: block !important;
  }
  .advantages__item:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
  .advantages__item--fast h3:before,
  .advantages__item--cool h3:before,
  .advantages__item--expensive h3:before {
    top: 4px;
    margin: 0;
    left: -124px;
  }
  .advantages__item-title {
    margin-top: 40px;
  }
}
@media ($desktop-width) {
  .advantages__wrapper {
    padding-top: 30px;
    padding-bottom: 22px;
  }
  .advantages__items {
    display: table;
    width: 100%;
  }
  .advantages__item {
    display: table-cell !important;
    width: 240px;
    padding: 0 40px;
    padding-top: 130px;
    text-align: center;
    border-bottom: none;
  }
  .advantages__item:nth-child(n+2) {
    display: table-cell !important;
  }
  .advantages__item:nth-child(2) {
    width: 200px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .advantages__item--fast h3:before,
  .advantages__item--expensive h3:before {
    top: -124px;
    left: 72px;
  }
  .advantages__item--cool h3:before {
    top: -124px;
    left: 54px;
  }
}
