.btn {
  width: 278px;
  height: 48px;
  border: 1px solid #e5ddd5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow',Arial,sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
}
.btn--news {
  margin: 0 auto;
  background-color: #f8f5f2;
  color: #000;
}
.btn--main-header:hover,
.btn--reviews:hover,
.btn--news:hover {
  border-color: #d5c9bd;
}
.btn--main-header:active,
.btn--reviews:active,
.btn--news:active {
  background-color: #d5c9bd;
  color: #958c84;
}
.btn--reviews {
  display: none;
}

@media ($tablet-width) {
  .btn {
    width: 158px;
  }
  .btn--news {
    position: absolute;
    right: 0;
    top: -10px;
  }
  .btn--reviews {
    display: flex;
    position: absolute;
    right: 0;
    top: 10px;
  }
}
