.page-header__logo {
  height: 85px;
  text-align: center;
}
.page-header__logo img {
  width: 230px;
  height: 85px;
}
.page-header--inner {
  .page-header__separator {
    display: none;
  }
}
@media ($tablet-width) {
  .page-header {
    display: flex;
    flex-direction: column;
    background-color: #000;
  }
  .page-header__logo {
    order: 2;
    position: relative;
    width: 100%;
    height: 396px;
    background-color: #000;
    background: url(../img/bg-header.jpg) center -9px no-repeat;
  }
  img.page-header__logo-image {
    position: absolute;
    top: 35px;
    left: 50%;
    width: 370px;
    height: auto;
    transform: translateX(-50%);
  }
  .page-header--inner {
    .page-header__logo {
      height: 212px;
    }
    .page-header__separator {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 68px;
    }
  }
}
@media ($desktop-width) {
  .page-header {
    // padding-bottom: 648px;
  }
  .page-header__logo {
    height: 648px;
    background-position: center 0;
    background-size: cover;
  }
  img.page-header__logo-image {
    top: 53px;
  }
  .page-header--inner {
    .page-header__logo {
      height: 305px;
    }
  }
}
