.prev,
.next {
  display: none;
}
.slider__toggles {
  text-align: center;
  line-height: 12px;
}
.slider__toggle {
  width: 2px;
  height: 2px;
  padding: 8px;
  position: relative;
  display: inline-block;
}
.slider__toggle::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border: 1px solid #fff;
  background: #242424;
  transform: rotate(45deg);
  top: 6px;
  left: 6px;
}
.slider__toggle:hover {
  cursor: pointer;
}
.slider__toggle--2 {
  margin-left: 11px;
  margin-right: 11px;
}
.slider__toggle--active::before {
  background: #fff;
}
.reviews .slider__toggle::before {
  border: 1px solid #353535;
  background-color: #f8f5f2;
}
.reviews .slider__toggle--active::before {
  background: #353535;
}

.slider {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media ($tablet-width) {
  .advantages .slider__toggles {
    display: none;
  }
  .reviews .slider__toggles {
    width: 125px;
    margin: 0 auto;
    background: #f8f5f2;
    margin-top: -10px;
    z-index: 10;
    position: relative;
  }
}
@media ($desktop-width) {
  .reviews .slider__toggles {
    margin-top: 40px;
  }
}
