.triangle-down {
  height: 45px;
}
.triangle-down svg {
  height: 45px;
}
.advantages .triangle-down {
  background: #f8f5f2;
}
.advantages #bigTriangleColor path {
  fill: #292929;
  stroke: #292929;
  stroke-width: 2;
}
.reviews .triangle-down {
  background: #292929;
}
.reviews #bigTriangleColor path {
  fill: #f8f5f2;
  stroke: #f8f5f2;
  stroke-width: 2;
}
.work .triangle-down {
  background: #353535;
}
.work #bigTriangleColor path {
  fill: #f8f5f2;
  stroke: #f8f5f2;
  stroke-width: 2;
}
.price .triangle-down {
  background: #292929;
}
.price #bigTriangleColor path {
  fill: #353535;
  stroke: #353535;
  stroke-width: 2;
}
.page-header--inner {
  .triangle-down {
    display: none;
  }
}
@media ($tablet-width) {
  .triangle-down {
    height: 50px;
  }
  .triangle-down svg {
    height: 50px;
  }
  .advantages #bigTriangleColor path {
    d: path('M-5 0 L50 95 L105 0 Z');
  }
  .reviews .triangle-down {
    display: none;
  }
  .price .triangle-down {
    display: none;
  }
  .page-header--inner {
    .triangle-down {
      display: block;
      order: 3;
      background: $bg-lightgrey;
    }
  }
}

@media ($desktop-width) {
  .triangle-down {
    height: 60px;
  }
  .triangle-down svg {
    height: 60px;
  }
  .advantages #bigTriangleColor path {
    d: path("M0 0 L50 100 L100 0 Z");
  }
  .work .triangle-down {
    display: none;
  }
}
