.work {
  @include clearfix;
  background-color: $bg-lightgrey;
  color: #000;
}
.work__wrapper {
  @include container-fluid;
  padding-bottom: 5px;
}
.work__item {
  position: relative;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  img {
    display: block;
  }
}
.work__item-content{
  border: 1px solid #e5ddd5;
  border-top: none;
  padding-bottom: 20px;
}

.work__feedback {
  padding-left: 20px;
  padding-right: 20px;
}
.work__feedback-author {
  display: block;
  padding-top: 24px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  font-style: normal;
}
.work__feedback-content {
  margin: 0;
  margin-bottom: 10px;
}
.work__services {
  font-size: 0;
  padding-left: 20px;
}
.work__service-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 80px;
  padding-left: 47px;
  font-size: 16px;
  line-height: 40px;
  height: 40px;
  text-transform: uppercase;
}
.work__service-item::before {
  content: '';
  position: absolute;
}
.work__service-item--haircut::before {
  @include sprite($scissors-icon);
  top: 9px;
  left: 1px;
}
.work__service-item--shaving::before {
  @include sprite($beard-icon);
  top: 7px;
  left: 3px;
}
.work__service-item--moustache::before {
  @include sprite($mustache-icon);
  top: 13px;
  left: -12px;
}
.work__item-flag {
  position: absolute;
  left: 0;
  top: 400px;
  width: 143px;
  padding: 12px 0;
  padding-left: 25px;
  background-color: #826550;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.work__item-flag::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: -10px;
  bottom: 0;
  border-top: 25px solid #826550;
  border-bottom: 25px solid #826550;
  border-right: 10px solid transparent;
}
.work__item--featured {
  .work__item-content {
    padding-bottom: 10px;
  }
  .work__feedback-author {
    padding-top: 18px;
  }
}
@media ($tablet-width) {
  .work__wrapper {
    padding-bottom: 15px;
  }
  .work__item {
    @include clearfix;
    width: 640px;
    margin-bottom: 40px;
  }
  .work__item-image {
    float: left;
    width: 270px;
    height: 293px;
    overflow: hidden;
  }
  .work__feedback {
    padding-right: 70px;
  }
  .work__feedback-author {
    padding-top: 15px;
    margin-bottom: 26px;
  }
  .work__item-content {
    float: left;
    width: 269px;
    width: 339px;
    overflow: hidden;
    border: 1px solid #e5ddd5;
    border-left: none;
    padding-left: 30px;
    padding-right: 0;
    padding-top: 25px;
    padding-bottom: 35px;
  }
  .work__feedback-content {
    height: 115px;
    overflow: hidden;
  }
  .work__item--featured {
    .work__item-image {
      height: 480px;
      img {
        width: 270px;
        height: 480px;
      }
    }
    .work__feedback {
      padding-right: 48px;
    }
    .work__item-content {
      padding-bottom: 5px;
      height: 448px;
      overflow: hidden;
    }
    .work__feedback-content {
      height: 266px;
      overflow: hidden;
    }
  }
  .work__service-item {
    width: 90px;
    padding-left: 42px;
  }
  .work__item-flag {
    top: 35px;
    left: -3px;
    width: 147px;
    padding-left: 21px;
  }
}

@media ($desktop-width) {
  .work {
    padding-bottom: 47px;
  }
  .work__item {
    width: 294px;
    float: left;
    margin-right: 39px;
  }
  .work__item:last-of-type {
    margin-right: 0;
  }
  .work__item-image {
    float: none;
    width: 294px;
    height: 294px;
    img {
      width: 294px;
      height: 294px;
    }
  }
  .work__feedback-author {
    padding-top: 30px;
  }
  .work__feedback {
    padding-left: 0;
    padding-right: 0;
  }
  .work__item-content {
    float: none;
    width: 227px;
    height: 217px;
    overflow: hidden;
    border: 1px solid #e5ddd5;
    border-top: none;
    padding: 0 30px 0 35px;
    padding-bottom: 30px;
  }
  .work__feedback-content {
    height: 90px;
    overflow: hidden;
  }
  .work__services {
    padding-left: 0;
  }
  .work__service-item {
    width: 70px;
    padding-left: 35px;
    margin-right: 15px;
  }
  .work__service-item:last-of-type {
    margin-right: 0;
  }
  .work__item--featured {
    width: 960px;
    float: none;
    .work__item-image {
      width: 480px;
      float: left;
      img {
        width: 480px;
        height: 480px;
      }
    }
    .work__item-content {
      float: right;
      height: 453px;
      width: 399px;
      padding: 0 40px;
      padding-bottom: 25px;
      border: 1px solid #e5ddd5;
      border-left: none;
      overflow: hidden;
    }
    .work__feedback-author {
      padding-top: 130px;
      margin-bottom: 24px;
    }
    .work__feedback-content {
      padding-right: 50px;
      height: 225px;
    }
    .work__service-item {
      width: 70px;
      margin-right: 17px;
      padding-left: 42px;
    }
  }
  .work__item-flag {
    top: 26px;
    left: 793px;
    padding-left: 23px;
    width: 144px;
  }
  .work__item-flag::after {
    left: -10px;
    border-top: 25px solid #826550;
    border-bottom: 25px solid #826550;
    border-left: 10px solid transparent;
  }
}
