/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$advantage-1-illustration-name: 'advantage-1-illustration';
$advantage-1-illustration-x: 147px;
$advantage-1-illustration-y: 0px;
$advantage-1-illustration-offset-x: -147px;
$advantage-1-illustration-offset-y: 0px;
$advantage-1-illustration-width: 95px;
$advantage-1-illustration-height: 94px;
$advantage-1-illustration-total-width: 381px;
$advantage-1-illustration-total-height: 297px;
$advantage-1-illustration-image: '../img/sprite.png';
$advantage-1-illustration: (147px, 0px, -147px, 0px, 95px, 94px, 381px, 297px, '../img/sprite.png', 'advantage-1-illustration', );
$advantage-2-illustration-name: 'advantage-2-illustration';
$advantage-2-illustration-x: 100px;
$advantage-2-illustration-y: 144px;
$advantage-2-illustration-offset-x: -100px;
$advantage-2-illustration-offset-y: -144px;
$advantage-2-illustration-width: 95px;
$advantage-2-illustration-height: 88px;
$advantage-2-illustration-total-width: 381px;
$advantage-2-illustration-total-height: 297px;
$advantage-2-illustration-image: '../img/sprite.png';
$advantage-2-illustration: (100px, 144px, -100px, -144px, 95px, 88px, 381px, 297px, '../img/sprite.png', 'advantage-2-illustration', );
$advantage-3-illustration-name: 'advantage-3-illustration';
$advantage-3-illustration-x: 0px;
$advantage-3-illustration-y: 144px;
$advantage-3-illustration-offset-x: 0px;
$advantage-3-illustration-offset-y: -144px;
$advantage-3-illustration-width: 95px;
$advantage-3-illustration-height: 91px;
$advantage-3-illustration-total-width: 381px;
$advantage-3-illustration-total-height: 297px;
$advantage-3-illustration-image: '../img/sprite.png';
$advantage-3-illustration: (0px, 144px, 0px, -144px, 95px, 91px, 381px, 297px, '../img/sprite.png', 'advantage-3-illustration', );
$beard-admiral-name: 'beard-admiral';
$beard-admiral-x: 63px;
$beard-admiral-y: 240px;
$beard-admiral-offset-x: -63px;
$beard-admiral-offset-y: -240px;
$beard-admiral-width: 52px;
$beard-admiral-height: 49px;
$beard-admiral-total-width: 381px;
$beard-admiral-total-height: 297px;
$beard-admiral-image: '../img/sprite.png';
$beard-admiral: (63px, 240px, -63px, -240px, 52px, 49px, 381px, 297px, '../img/sprite.png', 'beard-admiral', );
$beard-boyar-name: 'beard-boyar';
$beard-boyar-x: 247px;
$beard-boyar-y: 0px;
$beard-boyar-offset-x: -247px;
$beard-boyar-offset-y: 0px;
$beard-boyar-width: 57px;
$beard-boyar-height: 97px;
$beard-boyar-total-width: 381px;
$beard-boyar-total-height: 297px;
$beard-boyar-image: '../img/sprite.png';
$beard-boyar: (247px, 0px, -247px, 0px, 57px, 97px, 381px, 297px, '../img/sprite.png', 'beard-boyar', );
$beard-icon-name: 'beard-icon';
$beard-icon-x: 216px;
$beard-icon-y: 99px;
$beard-icon-offset-x: -216px;
$beard-icon-offset-y: -99px;
$beard-icon-width: 23px;
$beard-icon-height: 21px;
$beard-icon-total-width: 381px;
$beard-icon-total-height: 297px;
$beard-icon-image: '../img/sprite.png';
$beard-icon: (216px, 99px, -216px, -99px, 23px, 21px, 381px, 297px, '../img/sprite.png', 'beard-icon', );
$beard-polar-name: 'beard-polar';
$beard-polar-x: 309px;
$beard-polar-y: 76px;
$beard-polar-offset-x: -309px;
$beard-polar-offset-y: -76px;
$beard-polar-width: 63px;
$beard-polar-height: 78px;
$beard-polar-total-width: 381px;
$beard-polar-total-height: 297px;
$beard-polar-image: '../img/sprite.png';
$beard-polar: (309px, 76px, -309px, -76px, 63px, 78px, 381px, 297px, '../img/sprite.png', 'beard-polar', );
$beard-wise-man-name: 'beard-wise-man';
$beard-wise-man-x: 247px;
$beard-wise-man-y: 102px;
$beard-wise-man-offset-x: -247px;
$beard-wise-man-offset-y: -102px;
$beard-wise-man-width: 45px;
$beard-wise-man-height: 104px;
$beard-wise-man-total-width: 381px;
$beard-wise-man-total-height: 297px;
$beard-wise-man-image: '../img/sprite.png';
$beard-wise-man: (247px, 102px, -247px, -102px, 45px, 104px, 381px, 297px, '../img/sprite.png', 'beard-wise-man', );
$beard-woodcutter-name: 'beard-woodcutter';
$beard-woodcutter-x: 309px;
$beard-woodcutter-y: 159px;
$beard-woodcutter-offset-x: -309px;
$beard-woodcutter-offset-y: -159px;
$beard-woodcutter-width: 58px;
$beard-woodcutter-height: 68px;
$beard-woodcutter-total-width: 381px;
$beard-woodcutter-total-height: 297px;
$beard-woodcutter-image: '../img/sprite.png';
$beard-woodcutter: (309px, 159px, -309px, -159px, 58px, 68px, 381px, 297px, '../img/sprite.png', 'beard-woodcutter', );
$check-icon-name: 'check-icon';
$check-icon-x: 200px;
$check-icon-y: 213px;
$check-icon-offset-x: -200px;
$check-icon-offset-y: -213px;
$check-icon-width: 22px;
$check-icon-height: 16px;
$check-icon-total-width: 381px;
$check-icon-total-height: 297px;
$check-icon-image: '../img/sprite.png';
$check-icon: (200px, 213px, -200px, -213px, 22px, 16px, 381px, 297px, '../img/sprite.png', 'check-icon', );
$clock-illustration-desktop-name: 'clock illustration-desktop';
$clock-illustration-desktop-x: 0px;
$clock-illustration-desktop-y: 0px;
$clock-illustration-desktop-offset-x: 0px;
$clock-illustration-desktop-offset-y: 0px;
$clock-illustration-desktop-width: 142px;
$clock-illustration-desktop-height: 139px;
$clock-illustration-desktop-total-width: 381px;
$clock-illustration-desktop-total-height: 297px;
$clock-illustration-desktop-image: '../img/sprite.png';
$clock-illustration-desktop: (0px, 0px, 0px, 0px, 142px, 139px, 381px, 297px, '../img/sprite.png', 'clock illustration-desktop', );
$clock-illustration-mobile-name: 'clock-illustration-mobile';
$clock-illustration-mobile-x: 0px;
$clock-illustration-mobile-y: 240px;
$clock-illustration-mobile-offset-x: 0px;
$clock-illustration-mobile-offset-y: -240px;
$clock-illustration-mobile-width: 58px;
$clock-illustration-mobile-height: 57px;
$clock-illustration-mobile-total-width: 381px;
$clock-illustration-mobile-total-height: 297px;
$clock-illustration-mobile-image: '../img/sprite.png';
$clock-illustration-mobile: (0px, 240px, 0px, -240px, 58px, 57px, 381px, 297px, '../img/sprite.png', 'clock-illustration-mobile', );
$clock-illustration-tablet-name: 'clock-illustration-tablet';
$clock-illustration-tablet-x: 309px;
$clock-illustration-tablet-y: 0px;
$clock-illustration-tablet-offset-x: -309px;
$clock-illustration-tablet-offset-y: 0px;
$clock-illustration-tablet-width: 72px;
$clock-illustration-tablet-height: 71px;
$clock-illustration-tablet-total-width: 381px;
$clock-illustration-tablet-total-height: 297px;
$clock-illustration-tablet-image: '../img/sprite.png';
$clock-illustration-tablet: (309px, 0px, -309px, 0px, 72px, 71px, 381px, 297px, '../img/sprite.png', 'clock-illustration-tablet', );
$facebook-icon-big-name: 'facebook-icon-big';
$facebook-icon-big-x: 200px;
$facebook-icon-big-y: 144px;
$facebook-icon-big-offset-x: -200px;
$facebook-icon-big-offset-y: -144px;
$facebook-icon-big-width: 18px;
$facebook-icon-big-height: 39px;
$facebook-icon-big-total-width: 381px;
$facebook-icon-big-total-height: 297px;
$facebook-icon-big-image: '../img/sprite.png';
$facebook-icon-big: (200px, 144px, -200px, -144px, 18px, 39px, 381px, 297px, '../img/sprite.png', 'facebook-icon-big', );
$facebook-icon-small-name: 'facebook-icon-small';
$facebook-icon-small-x: 120px;
$facebook-icon-small-y: 262px;
$facebook-icon-small-offset-x: -120px;
$facebook-icon-small-offset-y: -262px;
$facebook-icon-small-width: 10px;
$facebook-icon-small-height: 21px;
$facebook-icon-small-total-width: 381px;
$facebook-icon-small-total-height: 297px;
$facebook-icon-small-image: '../img/sprite.png';
$facebook-icon-small: (120px, 262px, -120px, -262px, 10px, 21px, 381px, 297px, '../img/sprite.png', 'facebook-icon-small', );
$insta-icon-big-name: 'insta-icon-big';
$insta-icon-big-x: 147px;
$insta-icon-big-y: 99px;
$insta-icon-big-offset-x: -147px;
$insta-icon-big-offset-y: -99px;
$insta-icon-big-width: 36px;
$insta-icon-big-height: 36px;
$insta-icon-big-total-width: 381px;
$insta-icon-big-total-height: 297px;
$insta-icon-big-image: '../img/sprite.png';
$insta-icon-big: (147px, 99px, -147px, -99px, 36px, 36px, 381px, 297px, '../img/sprite.png', 'insta-icon-big', );
$insta-icon-small-name: 'insta-icon-small';
$insta-icon-small-x: 223px;
$insta-icon-small-y: 144px;
$insta-icon-small-offset-x: -223px;
$insta-icon-small-offset-y: -144px;
$insta-icon-small-width: 19px;
$insta-icon-small-height: 19px;
$insta-icon-small-total-width: 381px;
$insta-icon-small-total-height: 297px;
$insta-icon-small-image: '../img/sprite.png';
$insta-icon-small: (223px, 144px, -223px, -144px, 19px, 19px, 381px, 297px, '../img/sprite.png', 'insta-icon-small', );
$login-icon-name: 'login-icon';
$login-icon-x: 223px;
$login-icon-y: 168px;
$login-icon-offset-x: -223px;
$login-icon-offset-y: -168px;
$login-icon-width: 15px;
$login-icon-height: 15px;
$login-icon-total-width: 381px;
$login-icon-total-height: 297px;
$login-icon-image: '../img/sprite.png';
$login-icon: (223px, 168px, -223px, -168px, 15px, 15px, 381px, 297px, '../img/sprite.png', 'login-icon', );
$mustache-icon-name: 'mustache-icon';
$mustache-icon-x: 247px;
$mustache-icon-y: 211px;
$mustache-icon-offset-x: -247px;
$mustache-icon-offset-y: -211px;
$mustache-icon-width: 45px;
$mustache-icon-height: 12px;
$mustache-icon-total-width: 381px;
$mustache-icon-total-height: 297px;
$mustache-icon-image: '../img/sprite.png';
$mustache-icon: (247px, 211px, -247px, -211px, 45px, 12px, 381px, 297px, '../img/sprite.png', 'mustache-icon', );
$pssword-icon-name: 'pssword-icon';
$pssword-icon-x: 226px;
$pssword-icon-y: 188px;
$pssword-icon-offset-x: -226px;
$pssword-icon-offset-y: -188px;
$pssword-icon-width: 15px;
$pssword-icon-height: 17px;
$pssword-icon-total-width: 381px;
$pssword-icon-total-height: 297px;
$pssword-icon-image: '../img/sprite.png';
$pssword-icon: (226px, 188px, -226px, -188px, 15px, 17px, 381px, 297px, '../img/sprite.png', 'pssword-icon', );
$scissors-icon-name: 'scissors-icon';
$scissors-icon-x: 200px;
$scissors-icon-y: 188px;
$scissors-icon-offset-x: -200px;
$scissors-icon-offset-y: -188px;
$scissors-icon-width: 21px;
$scissors-icon-height: 20px;
$scissors-icon-total-width: 381px;
$scissors-icon-total-height: 297px;
$scissors-icon-image: '../img/sprite.png';
$scissors-icon: (200px, 188px, -200px, -188px, 21px, 20px, 381px, 297px, '../img/sprite.png', 'scissors-icon', );
$vk-icon-big-name: 'vk-icon-big';
$vk-icon-big-x: 188px;
$vk-icon-big-y: 99px;
$vk-icon-big-offset-x: -188px;
$vk-icon-big-offset-y: -99px;
$vk-icon-big-width: 23px;
$vk-icon-big-height: 26px;
$vk-icon-big-total-width: 381px;
$vk-icon-big-total-height: 297px;
$vk-icon-big-image: '../img/sprite.png';
$vk-icon-big: (188px, 99px, -188px, -99px, 23px, 26px, 381px, 297px, '../img/sprite.png', 'vk-icon-big', );
$vk-icon-small-name: 'vk-icon-small';
$vk-icon-small-x: 120px;
$vk-icon-small-y: 240px;
$vk-icon-small-offset-x: -120px;
$vk-icon-small-offset-y: -240px;
$vk-icon-small-width: 15px;
$vk-icon-small-height: 17px;
$vk-icon-small-total-width: 381px;
$vk-icon-small-total-height: 297px;
$vk-icon-small-image: '../img/sprite.png';
$vk-icon-small: (120px, 240px, -120px, -240px, 15px, 17px, 381px, 297px, '../img/sprite.png', 'vk-icon-small', );
$spritesheet-width: 381px;
$spritesheet-height: 297px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($advantage-1-illustration, $advantage-2-illustration, $advantage-3-illustration, $beard-admiral, $beard-boyar, $beard-icon, $beard-polar, $beard-wise-man, $beard-woodcutter, $check-icon, $clock-illustration-desktop, $clock-illustration-mobile, $clock-illustration-tablet, $facebook-icon-big, $facebook-icon-small, $insta-icon-big, $insta-icon-small, $login-icon, $mustache-icon, $pssword-icon, $scissors-icon, $vk-icon-big, $vk-icon-small, );
$spritesheet: (381px, 297px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
